<html>
  <head>
    <link href="/assets/style.css" type="text/css" rel="stylesheet">
    <title>Hello</title>
  </head>
  <body>
    <h1> Person: <%= id %></h1>
    <p>Querystring Value: <%= qString %></p>
  </body>
</html>
