<% include header %>

  <h1>What's your ZIP code?</h1>

  <form class="pure-form" accept-charset="utf-8">
    <fieldset>
      <input type="number" name="zip" id="zip" value="" placeholder="12345" autofocus required />
      <input type="submit" class="pure-button pure-button-primary" value="Go" />
    </fieldset>
  </form>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/main.js" type="text/javascript" charset="utf-8"></script>

<% include footer %>
