<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Guesbook Express</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
  </head>
  <body class="container">
    <h1>Guestbook Express
      <a href="/new-entry" class="btn btn-primary pull-right">Write in the guesbook</a>
    </h1>
